@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Satoshi', sans-serif;
  margin:0px;
  width:100%;
  padding:0px;
}
.loginBg{
  background-image: url("./images/login/loginBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.loginInput{
  border-style: solid;
  border-width: 2px;
  border-color:white;
  border-radius: 5px;
  background-color: rgb(219, 231, 239);
  width:280px;
  outline: none;
}
.loginInput:focus{
  border-color: rgb(0, 98, 159);
}
.searchBox{
  width:250px;
  height:30px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 15px;
  padding:10px;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.searchBox::placeholder{
  color:rgb(85, 85, 85);
}
.fallback-spinner {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
}
.loading {
  position: absolute;
  left: calc(50% - 35px);
  top: 30%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;
}
.mainBody{
  width:100vw;
}
.contactBtn{
  padding: 0px 20px;
  width:150px;
  height:50px;
  border-style:solid;
  border-width:2px;
  border-color:#6300B3;
  border-radius:5px;
  background-color: white;
  transition: 0.2s;
  font-weight: 700;
  font-size:medium;
  color:#6300B3;
}
.contactBtn:hover{
  background-color: #6300B3;
  color:white;
}
.contactBtn:active{
  background-color: white;
  color: #6300B3;
}
.list{
  margin:5px;
  padding:8px 24px 8px 24px;
  color:rgba(48,48,48,1);
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.list:hover{
  box-shadow: -1px 4px 5px 0px rgb(204, 204, 204, 0.4);
  transform: translate(5px, 5px);
}

.listClick{
  margin:5px;
  padding:8px 24px 8px 24px;
  color:rgba(48,48,48,1);
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: -1px 4px 5px 0px rgb(204, 204, 204, 0.4);
  transform: translate(5px, 5px);
}

.seachBoxs{
  justify-content: center;
}
.jobSearch{
  border:none;
}
.scroll-none{
  scrollbar-width: none;
}
.gridmain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  column-gap: 15px;
  width: 100%;
  height:65%;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0px 20px 0px;
  background-color: #F7F7F7;
}
.gridmain1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  column-gap: 15px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0px 20px 0px;
  background-color: #F7F7F7;
}
.element{
  width: 316px;
  height :280px;
  border-radius: 12px;
  box-shadow: 0 0 14px 0px rgba(211, 211, 211, 0.15);
  background-color: rgb(226 232 240);
  position: relative;
}
.element1{
  width: 316px;
  height :230px;
  border-radius: 12px;
  box-shadow: 0 0 14px 0px rgba(211, 211, 211, 0.15);
  background-color: rgb(226 232 240);
  position: relative;
}
.comLogo{
  display: flex;
  margin:16px 20px 0px 16px;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: center;
  border-radius: 13.18px;
  background-image: linear-gradient(to bottom,rgba(254, 254, 253, 1),rgba(241, 241, 241, 1));
  box-shadow: 0 0 10.25px 0 rgba(148, 148, 148, 0.25);
}
.comLogo img {
  width: 60px;
  height: 60px;
  border-radius: 45px;
}
.ago{
  display: flex;
  align-items: center;
  justify-content: center;
  height:33px;
  border-radius: 10px;
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.9px;
  top:5px;
  right:5px;
  padding:5px;
  background-color: #F7F7F7;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(63, 63, 63, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop{
  position:relative;
  top:0%;
  max-height:75%;
  width:80%;
  background-color: white;
  z-index:1000;
  border-radius: 15px;
  padding:30px 0px;
  overflow-y: auto;
  scrollbar-width: none;
}
.popTitle{
  display:flex;
  justify-content:center;
  font-size: 25px;
  font-weight: 700;
}
.popBody{
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  width:80%;
  margin:2% 10%;
  padding:0px;
}

.sectionName{
  font-size:20px;
  font-weight: 600;
  margin:0px 0px 0px 10px;
}
.sectionInput{
  height:45px;
  width:100%;
  margin:0px 0px 20px 0px;
  padding:10px;
  border-style:solid;
  border-width:2px;
  border-color:grey;
  border-radius:5px;
}
.apply{
  display:flex;
  justify-content: center;
}
.applyBtn{
  height:40px;
  background-color: #6300B3;
  margin:20px;
  color:white;
  border-style:none;
  border-radius:5px;
  padding:10px 20px;
  font-weight:bold;
}
.clearBtn{
  cursor: pointer;
}
